---
title: About this page for you
layout: base.njk
---

<div class="container">
  <h1>Das ist die ÜBER-Seite</h1>
  <p>It was made for you using HTML, CSS and JavaScript. And served as a JAMStack site.</p>
</div>


{% for item in news %}
  <li>
  	<a href="/{{ item.country}}">{{ item.country }}</a>
  </li>
{%  endfor %}



